In [5]:
import numpy as np

In [6]:
a =  np.array([1,2,3])
print(a)
b = np.array([[1,2,3,4],
            [5,6,7,8],
            [9,9,9,9]])
print(b)

[1 2 3]
[[1 2 3 4]
 [5 6 7 8]
 [9 9 9 9]]

In [7]:
a.itemsize

8

In [8]:
a.nbytes

24

In [9]:
np.ones((4,2,2), dtype='float64')

array([[[1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.]],

       [[1., 1.],
        [1., 1.]]])

In [10]:
np.full((3,4),9,dtype = 'int32')

array([[9, 9, 9, 9],
       [9, 9, 9, 9],
       [9, 9, 9, 9]], dtype=int32)

In [11]:
print(np.full(a.shape,9))
print(np.full_like(b,9))

[9 9 9]
[[9 9 9 9]
 [9 9 9 9]
 [9 9 9 9]]

In [12]:
np.random.rand(5,3)

array([[0.7617414 , 0.10226952, 0.0820505 ],
       [0.87939262, 0.98702711, 0.22196092],
       [0.9768567 , 0.06160314, 0.07164908],
       [0.03037167, 0.01721361, 0.85487356],
       [0.09808171, 0.89154614, 0.27843646]])

In [13]:
np.random.random_sample(b.shape)

array([[0.70399877, 0.69324252, 0.17680094, 0.77606417],
       [0.59155102, 0.82419045, 0.66420168, 0.49227495],
       [0.00675553, 0.28004368, 0.04967222, 0.63113383]])

In [14]:
np.random.randint(-99,100,size=(3,7))

array([[-94,  86, -65,  12, -91,  23, -16],
       [ 82,  57, -71, -24,  17, -94,  52],
       [ 44,  45, -36,  92,  46, -51, -32]])

In [15]:
np.repeat(b,3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8,
       8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9])

In [16]:
np.repeat(b,3,axis=0)

array([[1, 2, 3, 4],
       [1, 2, 3, 4],
       [1, 2, 3, 4],
       [5, 6, 7, 8],
       [5, 6, 7, 8],
       [5, 6, 7, 8],
       [9, 9, 9, 9],
       [9, 9, 9, 9],
       [9, 9, 9, 9]])

In [17]:
np.repeat(b,3,axis=1)

array([[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4],
       [5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8],
       [9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9]])

### Crude Way

In [18]:
a = np.full((5,5),9)
for i in range(5):
    a[0][i] = 1
    a[i][0] = 1
    a[4][i] = 1
    a[i][4] = 1
for i in range(1,4):
    a[1][i] = 0
    a[i][1] = 0
    a[3][i] = 0
    a[i][3] = 0
print(a)

[[1 1 1 1 1]
 [1 0 0 0 1]
 [1 0 9 0 1]
 [1 0 0 0 1]
 [1 1 1 1 1]]

### Better Way

In [19]:
a = np.ones((5,5))
print(a)

[[1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1.]]

In [20]:
b = np.zeros((3,3))
b[1][1] = 9
print(b)

[[0. 0. 0.]
 [0. 9. 0.]
 [0. 0. 0.]]

In [21]:
a[1:-1,1:-1] = b
print(a)

[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 9. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

### Be careful with copying arrays

When you do b = a, both variables point to the same exact thing, so any changes in b will be reflected in a too.Use b = a.copy() then changes in each of them will be independent from each other.

In [22]:
a = np.ones((3,3))

In [23]:
b = a.copy()

In [24]:
a = np.zeros((3,3))
print(b)
print(a)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('titanic.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [ ]:
df.head()

In [ ]:
df = pd.read_csv('titanic.csv', index_col = 'Name')

In [16]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [1]:
df["Age"].value_counts.head(10)

NameError: name 'df' is not defined